/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Orator';
  src: url("../type/oratorstd-webfont.eot?") format("eot"), url("../type/oratorstd-webfont.woff") format("woff"), url("../type/oratorstd-webfont.ttf") format("truetype"), url("../type/oratorstd-webfont.svg#webfontlZlKz9CF") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Sectra Fine';
  src: url("../type/GT-Sectra-Fine-Book.eot?") format("eot"), url("../type/GT-Sectra-Fine-Book.woff") format("woff"), url("../type/GT-Sectra-Fine-Book.ttf") format("truetype"), url("../type/GT-Sectra-Fine-Book.svg#webfontlZlKz9CF") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT Sectra Fine';
  src: url("../type/GT-Sectra-Fine-Book-Italic.eot?") format("eot"), url("../type/GT-Sectra-Fine-Book-Italic.woff") format("woff"), url("../type/GT-Sectra-Fine-Book-Italic.ttf") format("truetype"), url("../type/GT-Sectra-Fine-Book-Italic.svg#webfontlZlKz9CF") format("svg");
  font-weight: 400;
  font-style: italic;
}
/* line 19, ../sass/screen.scss */
body, html {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Orator';
  font-weight: 400;
  text-transform: lowercase;
  -webkit-transition: font-size .2s;
  -o-transition: font-size .2s;
  -moz-transition: font-size .2s;
  -ms-transition: font-size .2s;
  transition: font-size .2s;
  color: #000;
  height: 100%;
  background: white;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 39, ../sass/screen.scss */
  body {
    -webkit-font-smoothing: antialiased;
  }
}
/* line 44, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Orator';
  font-weight: 400;
  text-transform: lowercase;
}

/* line 50, ../sass/screen.scss */
.right {
  float: right !important;
}

/* line 54, ../sass/screen.scss */
.clear {
  clear: both;
  float: none;
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
}

/* line 63, ../sass/screen.scss */
.text-center {
  text-align: center;
}

/* line 67, ../sass/screen.scss */
#content {
  height: 100%;
}

/* line 71, ../sass/screen.scss */
.post p a {
  display: inline-block;
  line-height: 1.2em;
  transition: all 100ms ease-in-out;
}
/* line 75, ../sass/screen.scss */
.post p a.button {
  box-shadow: none !important;
  transition: all 0ms !important;
}

/* line 81, ../sass/screen.scss */
#content .post {
  min-height: 100vh;
}
/* line 83, ../sass/screen.scss */
#content .post:first-child {
  padding-top: 30px;
}

/* line 88, ../sass/screen.scss */
#begin {
  height: 100%;
}

/* line 96, ../sass/screen.scss */
#type_holder {
  position: fixed;
  bottom: 50%;
  z-index: 1000;
  width: 60%;
  left: 20%;
  text-align: left;
  line-height: 1.5em;
  letter-spacing: -0.1em;
}

/* line 107, ../sass/screen.scss */
.section {
  display: block;
  box-sizing: border-box;
  height: 50%;
  width: 100%;
  min-height: 260px;
  position: relative;
  text-align: center;
  background: #FFF;
}

/* line 118, ../sass/screen.scss */
.content-main {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 10;
}

/* line 127, ../sass/screen.scss */
.image-fill {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: none;
  pointer-events: none;
}
/* line 138, ../sass/screen.scss */
.mobile .image-fill {
  display: block;
}

/* line 143, ../sass/screen.scss */
.image-fill img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 35%;
  min-height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 157, ../sass/screen.scss */
.section h1, .section h2, .section h3, .section p {
  top: 48%;
  margin: 0px auto;
  position: relative;
  font-size: 16px;
  line-height: 1.4em;
  width: 300px;
}

/* line 166, ../sass/screen.scss */
p em {
  font-style: italic;
}

/* line 170, ../sass/screen.scss */
.section.work:first-child {
  padding-top: 30px;
}

/* line 174, ../sass/screen.scss */
.section.work a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 181, ../sass/screen.scss */
.section.work .position {
  position: relative;
  display: block;
  top: 30%;
}

/* line 187, ../sass/screen.scss */
.section.work a:hover {
  text-decoration: none;
  background: none;
  background: rgba(255, 255, 255, 0.065);
}

/* line 193, ../sass/screen.scss */
.section.work h1 {
  font-size: 24px;
  margin-bottom: 10px;
  top: auto;
}

/* line 199, ../sass/screen.scss */
.section.work h2 {
  font-family: "GT Sectra Fine", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  top: auto;
}

/* line 208, ../sass/screen.scss */
.cat img {
  position: relative;
  top: 32%;
  height: 80px;
  width: auto;
  z-index: 11;
}

/* line 216, ../sass/screen.scss */
.section a {
  color: white;
  text-decoration: none;
  border-bottom: 0.02em solid white;
  padding: 0 0.05em;
  line-height: 1em;
  mix-blend-mode: difference;
  -moz-box-shadow: inset 0 -1px 0 #fff;
  -webkit-box-shadow: inset 0 -1px 0 #fff;
  box-shadow: inset 0 -1px 0 #fff;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 223, ../sass/screen.scss */
.section a.button {
  line-height: 1.2em;
}

/* line 234, ../sass/screen.scss */
.section a:hover {
  color: black;
  -moz-box-shadow: inset 0 -1.1em 0 white;
  -webkit-box-shadow: inset 0 -1.1em 0 white;
  box-shadow: inset 0 -1.1em 0 white;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}

/* line 242, ../sass/screen.scss */
pre a:hover {
  color: #000;
}

/* line 246, ../sass/screen.scss */
a.button {
  color: black;
  background: white;
  padding: .7em 1.2em;
  text-decoration: none;
  font-family: "Orator";
  text-transform: lowercase;
  font-size: 16px;
  display: inline-block;
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 259, ../sass/screen.scss */
.t_cursor {
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
  margin-top: -0.18em;
  margin-left: 0.15em;
  width: 0.119em;
  height: 1.05em;
  background: #0099FF;
}

/* line 271, ../sass/screen.scss */
.t_cursor.blink {
  opacity: 0;
}

/* line 275, ../sass/screen.scss */
#intro {
  position: relative;
}

/* line 279, ../sass/screen.scss */
.section .button {
  color: black;
  border: 0;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 283, ../sass/screen.scss */
.section .button span {
  position: relative;
  display: inline-block;
  top: 1px;
}

/* line 290, ../sass/screen.scss */
.button:hover, a.button:hover {
  background: #0000FF;
  color: white;
  text-decoration: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 295, ../sass/screen.scss */
.button:hover span:before, a.button:hover span:before {
  color: black;
}

/* line 300, ../sass/screen.scss */
.button:active, a.button:active {
  background: #0000FF;
  color: white;
}
/* line 303, ../sass/screen.scss */
.button:active span:before, a.button:active span:before {
  color: black;
}

/* line 308, ../sass/screen.scss */
.cat {
  width: 100%;
  height: 100%;
  min-height: 260px;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 35%;
}
/* line 317, ../sass/screen.scss */
.mobile .cat {
  background-image: none !important;
}

/* line 322, ../sass/screen.scss */
.cat.skate-hover {
  background-image: url(../img/kf.gif) !important;
}

/* line 326, ../sass/screen.scss */
.section#end {
  display: none;
  background: black !important;
  color: white;
}

/* line 332, ../sass/screen.scss */
.section#end a {
  color: white;
  text-decoration: none;
}

/* line 337, ../sass/screen.scss */
.section#end a:hover {
  color: white;
}

/* line 341, ../sass/screen.scss */
.section:nth-child(odd) .cat {
  background-color: #fff !important;
}

/* line 345, ../sass/screen.scss */
.section:nth-child(even) .cat {
  background-color: #f9f9f9 !important;
}

/* line 349, ../sass/screen.scss */
.section .cat.end {
  background-color: black !important;
}

/* line 353, ../sass/screen.scss */
.cat {
  background-image: url(../img/kf/kf.gif) !important;
  background-size: 250px auto;
}

/* line 358, ../sass/screen.scss */
.cat.f00 {
  background-image: url(../img/kf/kf00.png);
  background-color: #FF4D4D;
}

/* line 363, ../sass/screen.scss */
.cat.f01 {
  background-image: url(../img/kf/kf01.png);
  background-color: #FF6A4D;
}

/* line 368, ../sass/screen.scss */
.cat.f02 {
  background-image: url(../img/kf/kf02.png);
  background-color: #FF894D;
}

/* line 373, ../sass/screen.scss */
.cat.f03 {
  background-image: url(../img/kf/kf03.png);
  background-color: #FFAD4D;
}

/* line 378, ../sass/screen.scss */
.cat.f04 {
  background-image: url(../img/kf/kf04.png);
  background-color: #FFD34D;
}

/* line 383, ../sass/screen.scss */
.cat.f05 {
  background-image: url(../img/kf/kf05.png);
  background-color: #FFF14D;
}

/* line 388, ../sass/screen.scss */
.cat.f06 {
  background-image: url(../img/kf/kf06.png);
  background-color: #4DFFCD;
}

/* line 393, ../sass/screen.scss */
.cat.f07 {
  background-image: url(../img/kf/kf07.png);
  background-color: #4DE9FF;
}

/* line 398, ../sass/screen.scss */
.cat.f08 {
  background-image: url(../img/kf/kf08.png);
  background-color: #4DADFF;
}

/* line 403, ../sass/screen.scss */
.cat.f09 {
  background-image: url(../img/kf/kf09.png);
  background-color: #4DADFF;
}

/* line 408, ../sass/screen.scss */
.cat.f10 {
  background-image: url(../img/kf/kf10.png);
  background-color: #4DADFF;
}

/* line 413, ../sass/screen.scss */
.cat.f11 {
  background-image: url(../img/kf/kf11.png);
  background-color: #4DADFF;
}

/* line 418, ../sass/screen.scss */
.cat.f12 {
  background-image: url(../img/kf/kf12.png);
  background-color: #4DADFF;
}

/* line 423, ../sass/screen.scss */
.cat.f13 {
  background-image: url(../img/kf/kf13.png);
  background-color: #4DADFF;
}

/* line 428, ../sass/screen.scss */
.cat.f14 {
  background-image: url(../img/kf/kf14.png);
  background-color: #4DADFF;
}

/* line 433, ../sass/screen.scss */
.cat.f15 {
  background-image: url(../img/kf/kf15.png);
  background-color: #4DADFF;
}

/* line 440, ../sass/screen.scss */
nav {
  background: #000;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 0;
}

/* line 450, ../sass/screen.scss */
nav a {
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  margin: 15px;
  color: #bbb;
  border: 0;
  text-decoration: none;
}

/* line 460, ../sass/screen.scss */
nav a:hover {
  color: #fff;
}

/* line 464, ../sass/screen.scss */
nav a.selected {
  color: #fff;
  border-bottom: 1px solid white;
}

/* line 469, ../sass/screen.scss */
nav.sticky {
  position: fixed;
  -webkit-transition: top 300ms;
  -o-transition: top 300ms;
  -moz-transition: top 300ms;
  -ms-transition: top 300ms;
  transition: top 300ms;
  -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
  -o-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
  -ms-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
}

/* line 483, ../sass/screen.scss */
nav.stickyHide {
  top: -50px;
}

/* line 487, ../sass/screen.scss */
nav.slideIn {
  top: 0;
}

/* line 491, ../sass/screen.scss */
header {
  min-height: 50vh;
  height: auto;
  background: #00FFBF;
  text-align: center;
  margin-bottom: 80px;
  display: -webkit-flex;
  display: flex;
}
/* line 498, ../sass/screen.scss */
header .PostHeader {
  margin: 35% auto auto;
}
/* line 500, ../sass/screen.scss */
header .PostHeader h2 {
  padding: 0px;
  margin: 15px;
}
/* line 506, ../sass/screen.scss */
header a {
  text-decoration: none;
  color: inherit;
}

/* line 512, ../sass/screen.scss */
header img {
  width: auto;
  height: 80px;
  margin: 0 auto;
  display: block;
}

/* line 519, ../sass/screen.scss */
header h1 {
  font-size: 20px;
  margin: 0 0 10px;
}

/* line 524, ../sass/screen.scss */
header h2 {
  font-family: "GT Sectra Fine", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.2em;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  margin: 0 0 20px;
}

/* line 535, ../sass/screen.scss */
header h1,
header h2 {
  position: relative;
  top: 46%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 546, ../sass/screen.scss */
section article {
  font-family: "GT Sectra Fine", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.6em;
  text-transform: none;
  margin-bottom: 120px;
}

/* line 555, ../sass/screen.scss */
section article p,
section article blockquote {
  font-size: 18px;
  line-height: 1.6em;
  margin: 1em auto;
  width: 80%;
  max-width: 640px;
}

/* line 564, ../sass/screen.scss */
section article blockquote {
  font-style: italic;
  color: #555;
  border-left: 1px solid black;
  padding-left: 20px;
  width: 590px;
  position: relative;
  margin-bottom: 100px;
}

/* line 574, ../sass/screen.scss */
section article blockquote aside {
  position: absolute;
  right: 60px;
  margin-top: 10px;
}

/* line 581, ../sass/screen.scss */
section article h2, section article h3, section article h4 {
  margin: 1em auto;
  width: 640px;
  text-align: center;
  font-weight: 400;
}

/* line 588, ../sass/screen.scss */
section article h2 {
  font-size: 18px;
  margin: 40px auto 15px;
}

/* line 593, ../sass/screen.scss */
section article h3 {
  font-size: 16px;
  font-style: italic;
  opacity: 0.5;
  font-family: "GT Sectra Fine", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  text-transform: none;
  margin: 5px auto 80px;
}

/* line 602, ../sass/screen.scss */
section article a {
  color: black;
  text-decoration: underline;
}

/* line 607, ../sass/screen.scss */
section article hr {
  width: 640px;
  margin: 80px auto;
  border: 0;
  border-bottom: 1px solid #ddd;
  background: none;
  font-size: 0;
  line-height: 0;
  display: block;
}

/* line 618, ../sass/screen.scss */
section footer p {
  margin: 15px 0 30px;
}

/* line 622, ../sass/screen.scss */
section footer a {
  background: black;
}

/* line 626, ../sass/screen.scss */
footer a {
  text-decoration: none;
}

/* line 630, ../sass/screen.scss */
footer em {
  font-style: normal;
  position: relative;
  top: -1px;
}

/* line 636, ../sass/screen.scss */
section article p a.button {
  background: none;
  color: black;
  border: 1px solid black;
  width: 140px;
  text-align: center;
  display: block;
  margin: 40px auto;
}

/* line 646, ../sass/screen.scss */
section article p a.button:hover {
  background: black;
  color: white;
}

/* line 652, ../sass/screen.scss */
section article p a.button:active {
  background: #555;
  border-color: #555;
  color: white;
}

@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot");
  src: url("../icons/icomoon.eot?#iefix") format("embedded-opentype"), url("../icons/icomoon.woff") format("woff"), url("../icons/icomoon.ttf") format("truetype"), url("../icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 675, ../sass/screen.scss */
.fonticon:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: black;
  padding-right: 0px;
  position: relative;
  font-size: 0.95em;
}

/* line 690, ../sass/screen.scss */
#about a:hover .fonticon:before {
  color: #59F3CD;
}

/* line 694, ../sass/screen.scss */
.icon-cv:before {
  content: "\e000";
  top: 1px;
}

/* line 698, ../sass/screen.scss */
.icon-mail:before {
  content: "\e001";
}

/* line 701, ../sass/screen.scss */
.icon-twitter:before {
  content: "\e002";
}

/* line 705, ../sass/screen.scss */
iframe {
  margin: 0 auto 8vmin;
  display: block;
  width: 85%;
  height: 47.81vw;
}

/* line 713, ../sass/screen.scss */
.browser {
  padding: 35px 1px 1px;
  margin: 40px auto;
  width: 640px;
  height: auto;
  overflow: hidden;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  -webkit-transition: width 500ms, height 500ms, padding 100ms;
  -moz-transition: width 500ms, height 500ms, padding 100ms;
  -o-transition: width 500ms, height 500ms, padding 100ms;
  -ms-transition: width 500ms, height 500ms, padding 100ms;
  transition: width 500ms, height 500ms, padding 100ms;
}

/* line 729, ../sass/screen.scss */
.browser.minied {
  height: 0;
  padding-bottom: 0;
}

/* line 734, ../sass/screen.scss */
.browser.closed {
  display: none;
}

/* line 738, ../sass/screen.scss */
.browser.maxied {
  width: 950px;
  height: auto;
}

/* line 743, ../sass/screen.scss */
.browser.maxied video {
  height: auto;
  width: 960px;
}

/* line 748, ../sass/screen.scss */
.browser .title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5px;
  font-size: 14px;
  color: #666;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  transition: opacity 200ms;
  margin: 0;
}

/* line 763, ../sass/screen.scss */
.browser .ui {
  position: absolute;
  top: 7px;
  left: 10px;
  margin: 0;
  padding: 0;
}

/* line 771, ../sass/screen.scss */
.browser .ui li {
  display: inline-block;
  width: 11px;
  height: 11px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

/* line 784, ../sass/screen.scss */
.browser .ui .close {
  background: #FF5011;
}

/* line 788, ../sass/screen.scss */
.browser .ui .close:active {
  background: #CC3300;
}

/* line 792, ../sass/screen.scss */
.browser .ui .min {
  background: #ffc000;
}

/* line 796, ../sass/screen.scss */
.browser .ui li:hover:after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 2px;
  left: 2px;
}

/* line 808, ../sass/screen.scss */
.browser .ui .max {
  background: #4EE949;
}

/* line 812, ../sass/screen.scss */
.browser .ui .max:active {
  background: #3EBA3A;
}

/* line 817, ../sass/screen.scss */
.browser .window {
  position: relative;
  height: auto;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: height 500ms;
  -moz-transition: height 500ms;
  -o-transition: height 500ms;
  -ms-transition: height 500ms;
  transition: height 500ms;
}

/* line 830, ../sass/screen.scss */
.browser img {
  display: block;
}

/* line 834, ../sass/screen.scss */
video {
  position: relative;
  -webkit-transition: height 500ms, width 500ms;
  -moz-transition: height 500ms, width 500ms;
  -o-transition: height 500ms, width 500ms;
  -ms-transition: height 500ms, width 500ms;
  transition: height 500ms, width 500ms;
}

/* line 843, ../sass/screen.scss */
.play {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/play_btn.png) no-repeat center center;
  z-index: 50;
  cursor: pointer;
}

/* line 852, ../sass/screen.scss */
.play.playing {
  background-image: none;
}

/* line 856, ../sass/screen.scss */
.browser video {
  background: #000;
  height: auto;
  width: 640px;
  display: block;
  -webkit-transition: height 500ms, width 500ms;
  -moz-transition: height 500ms, width 500ms;
  -o-transition: height 500ms, width 500ms;
  -ms-transition: height 500ms, width 500ms;
  transition: height 500ms, width 500ms;
}

/* line 868, ../sass/screen.scss */
.browser.maxied .window {
  height: auto;
}

/* line 872, ../sass/screen.scss */
.browser img {
  width: 100%;
  height: auto;
}

/* line 878, ../sass/screen.scss */
footer section {
  position: absolute;
  width: 50%;
  bottom: 0;
  text-align: left;
}

/* line 885, ../sass/screen.scss */
footer section.next {
  right: 0;
  text-align: right;
}

/* line 890, ../sass/screen.scss */
footer section a, footer section span {
  display: block;
  padding: 40px;
  height: 90px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 901, ../sass/screen.scss */
footer section a:hover {
  background: black !important;
  color: white !important;
}

/* line 906, ../sass/screen.scss */
footer section span {
  background: #999;
  color: #fff;
}

/* line 911, ../sass/screen.scss */
footer {
  background: #f3f3f3;
  text-align: center;
  padding: 15px 0 90px;
  position: relative;
}
/* line 917, ../sass/screen.scss */
footer.Work {
  padding: 50px 0 50px;
}

/* line 922, ../sass/screen.scss */
.video_container {
  width: 1024px;
  height: 576px;
  margin: 30px auto;
  position: relative;
  border: 1px solid black;
  -webkit-transition: height 500ms, width 500ms;
  -moz-transition: height 500ms, width 500ms;
  -o-transition: height 500ms, width 500ms;
  -ms-transition: height 500ms, width 500ms;
  transition: height 500ms, width 500ms;
}

/* line 935, ../sass/screen.scss */
.video_container video {
  height: auto;
  width: 1024px;
}

/* line 940, ../sass/screen.scss */
.video_container.iphone {
  width: 320px !important;
  height: 660px !important;
  border: 0;
  background: url(../img/phoneframe.png) top center no-repeat;
  background-size: 320px;
  margin-bottom: 50px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 954, ../sass/screen.scss */
.video_container.iphone video {
  width: 91.5% !important;
  height: auto !important;
  top: 10.8%;
  left: 4.5%;
  border: 1px solid #BCB7B7;
}
/* line 962, ../sass/screen.scss */
.video_container.iphone .play {
  background-image: none;
}
/* line 966, ../sass/screen.scss */
.video_container.iphone .play.playing {
  background-image: url(../img/play_btn.png);
}

/* line 971, ../sass/screen.scss */
.IntroImg {
  text-align: center;
  margin-bottom: 60px;
}
/* line 974, ../sass/screen.scss */
.IntroImg img {
  max-width: 95%;
  width: auto;
  height: auto;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  /* line 984, ../sass/screen.scss */
  header h1, .section h1, .section h2, .section h3, .section p {
    width: auto;
    font-size: 24px;
    top: 49.5%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    mix-blend-mode: difference;
    color: white;
  }

  /* line 997, ../sass/screen.scss */
  .section h1, .section h2, .section h3, .section p {
    font-size: 18px;
  }

  /* line 1001, ../sass/screen.scss */
  header .PostHeader {
    margin: auto;
  }

  /* line 1005, ../sass/screen.scss */
  header h2 {
    font-size: 18px;
  }

  /* line 1009, ../sass/screen.scss */
  .cat img {
    top: 38%;
  }

  /* line 1013, ../sass/screen.scss */
  .section.work .position {
    top: 46%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  /* line 1022, ../sass/screen.scss */
  .section.work h1 {
    font-size: 24px;
  }

  /* line 1026, ../sass/screen.scss */
  .section.work h2 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 1034, ../sass/screen.scss */
  .section h1, .section h2, .section h3, .section p {
    top: 50%;
    font-size: 16px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  /* line 1044, ../sass/screen.scss */
  .cat img {
    top: 90px;
  }

  /* line 1048, ../sass/screen.scss */
  .browser {
    width: 320px;
    height: auto;
  }

  /* line 1053, ../sass/screen.scss */
  .browser .window {
    height: auto;
  }

  /* line 1057, ../sass/screen.scss */
  .browser.maxied {
    width: 480px;
    height: auto;
  }

  /* line 1062, ../sass/screen.scss */
  .browser.maxied .window {
    height: auto;
  }

  /* line 1066, ../sass/screen.scss */
  .browser video {
    height: auto;
    width: 320px;
  }

  /* line 1071, ../sass/screen.scss */
  .browser.maxied video {
    height: auto;
    width: 480px;
  }

  /* line 1076, ../sass/screen.scss */
  .browser .title {
    opacity: 0;
  }

  /* line 1080, ../sass/screen.scss */
  section article h2, section article h3, section article h4 {
    width: 460px;
  }

  /* line 1084, ../sass/screen.scss */
  section article p,
  section article blockquote {
    font-size: 16px;
    width: 80%;
    max-width: 460px;
  }

  /* line 1091, ../sass/screen.scss */
  section article img {
    max-width: 460px;
    height: auto;
  }

  /* line 1096, ../sass/screen.scss */
  section article hr {
    width: 460px;
  }

  /* line 1100, ../sass/screen.scss */
  .video_container {
    width: 480px;
    height: 270px;
  }

  /* line 1105, ../sass/screen.scss */
  .video_container video {
    width: 480px;
    height: auto;
  }
}
/* all iPhone */
@media screen and (max-device-width: 760px), screen and (max-device-width: 320px) {
  /* line 1114, ../sass/screen.scss */
  .cat {
    background-attachment: scroll;
    background-size: contain;
    background-position: 50vw 50%;
    background-repeat: repeat-x;
  }

  /* line 1121, ../sass/screen.scss */
  .cat p,
  .cat h3,
  .cat h2 {
    width: 75%;
    margin: 0 auto;
  }

  /* line 1128, ../sass/screen.scss */
  nav {
    position: fixed !important;
    top: 0 !important;
  }

  /* line 1133, ../sass/screen.scss */
  .browser .ui, .browser .title {
    display: none;
  }

  /* line 1137, ../sass/screen.scss */
  .play {
    display: none !important;
  }

  /* line 1141, ../sass/screen.scss */
  footer {
    font-size: 56px;
    line-height: 20px;
    text-align: center;
  }

  /* line 1147, ../sass/screen.scss */
  footer em {
    display: none;
  }

  /* line 1151, ../sass/screen.scss */
  .section {
    height: 100%;
  }

  /* line 1155, ../sass/screen.scss */
  .section.work .position {
    top: 40%;
  }

  /* line 1159, ../sass/screen.scss */
  header h1,
  header h2 {
    top: 48%;
  }

  /* line 1164, ../sass/screen.scss */
  footer .button {
    margin: 20px 10px 20px;
  }

  /* line 1168, ../sass/screen.scss */
  .video_container.iphone {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/* iPhone portrait */
@media screen and (max-device-width: 320px) {
  /* line 1177, ../sass/screen.scss */
  .browser, .browser.maxied, .browser.minied {
    width: 300px;
    height: auto;
    padding: 0;
  }

  /* line 1183, ../sass/screen.scss */
  .browser .window {
    width: 300px;
    height: auto;
  }

  /* line 1188, ../sass/screen.scss */
  .browser .window video {
    width: 300px;
    height: auto;
  }

  /* line 1193, ../sass/screen.scss */
  .video_container {
    width: 300px;
    height: 169px;
  }

  /* line 1198, ../sass/screen.scss */
  .video_container video {
    width: 300px;
    height: auto;
  }

  /* line 1203, ../sass/screen.scss */
  section article p, section article h2, section article h3, section article hr, section article blockquote {
    width: 280px;
  }

  /* line 1207, ../sass/screen.scss */
  section article p img {
    max-width: 280px;
  }

  /* line 1211, ../sass/screen.scss */
  section article p,
  section article blockquote {
    font-size: 16px;
  }
}
