/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Orator';
  src: url("../type/oratorstd-webfont.eot?") format("eot"), url("../type/oratorstd-webfont.woff") format("woff"), url("../type/oratorstd-webfont.ttf") format("truetype"), url("../type/oratorstd-webfont.svg#webfontlZlKz9CF") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Sectra Fine';
  src: url("../type/GT-Sectra-Fine-Book.eot?") format("eot"), url("../type/GT-Sectra-Fine-Book.woff") format("woff"), url("../type/GT-Sectra-Fine-Book.ttf") format("truetype"), url("../type/GT-Sectra-Fine-Book.svg#webfontlZlKz9CF") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT Sectra Fine';
  src: url("../type/GT-Sectra-Fine-Book-Italic.eot?") format("eot"), url("../type/GT-Sectra-Fine-Book-Italic.woff") format("woff"), url("../type/GT-Sectra-Fine-Book-Italic.ttf") format("truetype"), url("../type/GT-Sectra-Fine-Book-Italic.svg#webfontlZlKz9CF") format("svg");
  font-weight: 400;
  font-style: italic;
}
/* line 19, ../sass/screen.scss */
body, html {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Orator';
  font-weight: 400;
  text-transform: lowercase;
  -webkit-transition: font-size .2s;
  -o-transition: font-size .2s;
  -moz-transition: font-size .2s;
  -ms-transition: font-size .2s;
  transition: font-size .2s;
  color: #000;
  height: 100%;
  background: white;
}

/* line 36, ../sass/screen.scss */
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/shapes/shapes00000.png) url(../img/shapes/shapes00001.png) url(../img/shapes/shapes00002.png) url(../img/shapes/shapes00003.png) url(../img/shapes/shapes00004.png) url(../img/shapes/shapes00005.png) url(../img/shapes/shapes00006.png) url(../img/shapes/shapes00007.png) url(../img/shapes/shapes00008.png) url(../img/shapes/shapes00009.png) url(../img/shapes/shapes00009.png) url(../img/shapes/shapes00010.png) url(../img/shapes/shapes00011.png) url(../img/shapes/shapes00012.png) url(../img/shapes/shapes00013.png) url(../img/shapes/shapes00014.png) url(../img/shapes/shapes00015.png) url(../img/shapes/shapes00016.png) url(../img/shapes/shapes00002.png) url(../img/shapes/shapes00017.png) url(../img/shapes/shapes00018.png) url(../img/shapes/shapes00005.png) url(../img/shapes/shapes00019.png) url(../img/shapes/shapes00020.png) url(../img/shapes/shapes00021.png) url(../img/shapes/shapes00022.png) url(../img/shapes/shapes00010.png) url(../img/shapes/shapes00023.png) url(../img/shapes/shapes00024.png) url(../img/shapes/shapes00013.png) url(../img/shapes/shapes00025.png) url(../img/shapes/shapes00026.png) url(../img/shapes/shapes00027.png) url(../img/shapes/shapes00028.png) url(../img/shapes/shapes00028.png) url(../img/shapes/shapes00029.png) url(../img/shapes/shapes00010.png) url(../img/shapes/shapes00030.png) url(../img/shapes/shapes00031.png) url(../img/shapes/shapes00013.png) url(../img/shapes/shapes00032.png) url(../img/shapes/shapes00033.png) url(../img/shapes/shapes00024.png) url(../img/shapes/shapes00034.png) url(../img/shapes/shapes00035.png) url(../img/shapes/shapes00026.png) url(../img/shapes/shapes00036.png) url(../img/shapes/shapes00037.png) url(../img/shapes/shapes00028.png) url(../img/shapes/shapes00038.png) url(../img/shapes/shapes00039.png) url(../img/shapes/shapes00030.png) url(../img/shapes/shapes00040.png) url(../img/shapes/shapes00041.png) url(../img/shapes/shapes00032.png) url(../img/shapes/shapes00042.png) url(../img/shapes/shapes00043.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 44, ../sass/screen.scss */
  body {
    -webkit-font-smoothing: antialiased;
  }
}
/* line 49, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Orator';
  font-weight: 400;
  text-transform: lowercase;
}

/* line 55, ../sass/screen.scss */
.right {
  float: right !important;
}

/* line 59, ../sass/screen.scss */
.clear {
  clear: both;
  float: none;
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
}

/* line 68, ../sass/screen.scss */
.text-center {
  text-align: center;
}

/* line 72, ../sass/screen.scss */
#content {
  height: 100%;
}

/* line 76, ../sass/screen.scss */
.post p a {
  display: inline-block;
  line-height: 1.2em;
  transition: all 100ms ease-in-out;
}
/* line 80, ../sass/screen.scss */
.post p a.button {
  box-shadow: none !important;
  transition: all 0ms !important;
}

/* line 86, ../sass/screen.scss */
#content .post {
  min-height: 100vh;
}

/* line 93, ../sass/screen.scss */
#begin {
  height: 100%;
}

/* line 101, ../sass/screen.scss */
#type_holder {
  position: fixed;
  bottom: 50%;
  z-index: 1000;
  width: 60%;
  left: 20%;
  text-align: left;
  line-height: 1.5em;
  letter-spacing: -0.1em;
}

/* line 112, ../sass/screen.scss */
.section {
  display: block;
  box-sizing: border-box;
  height: 50%;
  width: 100%;
  min-height: 260px;
  position: relative;
  text-align: center;
  background: #FFF;
}

/* line 123, ../sass/screen.scss */
.content-main {
  height: 100%;
  width: 100%;
}
/* line 128, ../sass/screen.scss */
.mobile .content-main {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 10;
}

/* line 136, ../sass/screen.scss */
.image-fill {
  display: none;
  pointer-events: none;
}
/* line 140, ../sass/screen.scss */
.mobile .image-fill {
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

/* line 152, ../sass/screen.scss */
.image-fill img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 30%;
  min-height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 166, ../sass/screen.scss */
.section h1, .section h2, .section h3, .section p {
  display: inline-block;
  top: 48%;
  margin: 0px auto;
  position: relative;
  font-size: 16px;
  line-height: 1.4em;
}

/* line 180, ../sass/screen.scss */
.mobile .section h1, .mobile .section h2, .mobile .section h3, .mobile .section p,
.ie .section h1,
.ie .section h2,
.ie .section h3,
.ie .section p {
  padding: 0 0.5em;
}
/* line 183, ../sass/screen.scss */
.mobile .section h1 .button, .mobile .section h2 .button, .mobile .section h3 .button, .mobile .section p .button,
.ie .section h1 .button,
.ie .section h2 .button,
.ie .section h3 .button,
.ie .section p .button {
  padding: 0;
  line-height: 2.4em;
}
/* line 190, ../sass/screen.scss */
.mobile .section:nth-child h1, .mobile .section:nth-child h2, .mobile .section:nth-child h3, .mobile .section:nth-child p,
.ie .section:nth-child h1,
.ie .section:nth-child h2,
.ie .section:nth-child h3,
.ie .section:nth-child p {
  color: black;
}
/* line 194, ../sass/screen.scss */
.mobile .section:nth-child h1 a, .mobile .section:nth-child h2 a, .mobile .section:nth-child h3 a, .mobile .section:nth-child p a,
.ie .section:nth-child h1 a,
.ie .section:nth-child h2 a,
.ie .section:nth-child h3 a,
.ie .section:nth-child p a {
  color: black;
  -moz-box-shadow: inset 0 -1px 0 black;
  -webkit-box-shadow: inset 0 -1px 0 black;
  box-shadow: inset 0 -1px 0 black;
}
/* line 199, ../sass/screen.scss */
.mobile .section:nth-child h1 .button, .mobile .section:nth-child h2 .button, .mobile .section:nth-child h3 .button, .mobile .section:nth-child p .button,
.ie .section:nth-child h1 .button,
.ie .section:nth-child h2 .button,
.ie .section:nth-child h3 .button,
.ie .section:nth-child p .button {
  background: black;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 202, ../sass/screen.scss */
.mobile .section:nth-child h1 .button span:before, .mobile .section:nth-child h2 .button span:before, .mobile .section:nth-child h3 .button span:before, .mobile .section:nth-child p .button span:before,
.ie .section:nth-child h1 .button span:before,
.ie .section:nth-child h2 .button span:before,
.ie .section:nth-child h3 .button span:before,
.ie .section:nth-child p .button span:before {
  color: white !important;
}

/* line 211, ../sass/screen.scss */
p em {
  font-style: italic;
}

/* line 215, ../sass/screen.scss */
.section.work:first-child {
  padding-top: 30px;
}

/* line 219, ../sass/screen.scss */
.section.work a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 226, ../sass/screen.scss */
.section.work .position {
  position: relative;
  display: block;
  top: 30%;
}

/* line 232, ../sass/screen.scss */
.section.work a:hover {
  text-decoration: none;
  background: none;
  background: rgba(255, 255, 255, 0.065);
}

/* line 238, ../sass/screen.scss */
.section.work h1 {
  font-size: 3.15vmin;
  margin-bottom: 10px;
  top: auto;
}

/* line 244, ../sass/screen.scss */
.section.work h2 {
  font-family: "GT Sectra Fine", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  font-size: 2.5vmin;
  top: auto;
}

/* line 253, ../sass/screen.scss */
.cat img {
  position: relative;
  top: 32%;
  height: 80px;
  width: auto;
  z-index: 11;
}

/* line 265, ../sass/screen.scss */
.section a {
  color: black;
  text-decoration: none;
  border-bottom: 0em solid black;
  padding: 0 0.05em;
  line-height: 1em;
  -moz-box-shadow: inset 0 0px 0 black;
  -webkit-box-shadow: inset 0 0px 0 black;
  box-shadow: inset 0 0px 0 black;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: black;
  border-bottom: 0em solid black;
  -moz-box-shadow: inset 0 -1px 0 black;
  -webkit-box-shadow: inset 0 -1px 0 black;
  box-shadow: inset 0 -1px 0 black;
}
/* line 272, ../sass/screen.scss */
.section a.button {
  line-height: 1.2em;
}

/* line 287, ../sass/screen.scss */
.section a:hover {
  color: white;
  -moz-box-shadow: inset 0 -1.1em 0 black;
  -webkit-box-shadow: inset 0 -1.1em 0 black;
  box-shadow: inset 0 -1.1em 0 black;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}

/* line 295, ../sass/screen.scss */
pre a:hover {
  color: #000;
}

/* line 299, ../sass/screen.scss */
a.button {
  color: black;
  background: white;
  padding: .7em 1.2em;
  text-decoration: none;
  font-family: "Orator";
  text-transform: lowercase;
  font-size: 16px;
  display: inline-block;
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 312, ../sass/screen.scss */
.t_cursor {
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
  margin-top: -0.18em;
  margin-left: 0.15em;
  width: 0.119em;
  height: 1.05em;
  background: #0099FF;
}

/* line 324, ../sass/screen.scss */
.t_cursor.blink {
  opacity: 0;
}

/* line 328, ../sass/screen.scss */
#intro {
  position: relative;
}

/* line 332, ../sass/screen.scss */
.section .button {
  color: black;
  border: 0 !important;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  font-size: 3.15vmin;
}
/* line 338, ../sass/screen.scss */
.section .button span {
  position: relative;
  display: inline-block;
  top: 1px;
}

/* line 346, ../sass/screen.scss */
.button:hover, a.button:hover {
  background: #0000FF;
  color: white;
  text-decoration: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 352, ../sass/screen.scss */
.button:hover span:before, a.button:hover span:before {
  color: white;
}

/* line 357, ../sass/screen.scss */
.button:active, a.button:active {
  background: #0000FF;
  color: white;
}
/* line 360, ../sass/screen.scss */
.button:active span:before, a.button:active span:before {
  color: black;
}

/* line 365, ../sass/screen.scss */
.cat {
  width: 100%;
  height: 100%;
  min-height: 260px;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 30%;
}
/* line 374, ../sass/screen.scss */
.mobile .cat {
  background-image: none !important;
}

/* line 379, ../sass/screen.scss */
.cat.skate-hover {
  background-image: url(../img/kf.gif) !important;
}

/* line 383, ../sass/screen.scss */
.section#end {
  display: none;
  background: white !important;
  color: black;
}

/* line 389, ../sass/screen.scss */
.section#end a {
  color: black;
  text-decoration: none;
}

/* line 394, ../sass/screen.scss */
.section#end a:hover {
  color: white;
}

/* line 398, ../sass/screen.scss */
.section:nth-child(odd) .cat {
  background-color: #fff !important;
}

/* line 402, ../sass/screen.scss */
.section:nth-child(even) .cat {
  background-color: #eee !important;
}

/* line 406, ../sass/screen.scss */
.section .cat.end {
  background-color: white !important;
}

/* line 413, ../sass/screen.scss */
.cat.f00 {
  background-image: url(../img/shapes/shapes00000.png);
}

/* line 413, ../sass/screen.scss */
.cat.f01 {
  background-image: url(../img/shapes/shapes00001.png);
}

/* line 413, ../sass/screen.scss */
.cat.f02 {
  background-image: url(../img/shapes/shapes00002.png);
}

/* line 413, ../sass/screen.scss */
.cat.f03 {
  background-image: url(../img/shapes/shapes00003.png);
}

/* line 413, ../sass/screen.scss */
.cat.f04 {
  background-image: url(../img/shapes/shapes00004.png);
}

/* line 413, ../sass/screen.scss */
.cat.f05 {
  background-image: url(../img/shapes/shapes00005.png);
}

/* line 413, ../sass/screen.scss */
.cat.f06 {
  background-image: url(../img/shapes/shapes00006.png);
}

/* line 413, ../sass/screen.scss */
.cat.f07 {
  background-image: url(../img/shapes/shapes00007.png);
}

/* line 413, ../sass/screen.scss */
.cat.f08 {
  background-image: url(../img/shapes/shapes00008.png);
}

/* line 413, ../sass/screen.scss */
.cat.f09 {
  background-image: url(../img/shapes/shapes00009.png);
}

/* line 418, ../sass/screen.scss */
.cat.f10 {
  background-image: url(../img/shapes/shapes00010.png);
}

/* line 418, ../sass/screen.scss */
.cat.f11 {
  background-image: url(../img/shapes/shapes00011.png);
}

/* line 418, ../sass/screen.scss */
.cat.f12 {
  background-image: url(../img/shapes/shapes00012.png);
}

/* line 418, ../sass/screen.scss */
.cat.f13 {
  background-image: url(../img/shapes/shapes00013.png);
}

/* line 418, ../sass/screen.scss */
.cat.f14 {
  background-image: url(../img/shapes/shapes00014.png);
}

/* line 418, ../sass/screen.scss */
.cat.f15 {
  background-image: url(../img/shapes/shapes00015.png);
}

/* line 418, ../sass/screen.scss */
.cat.f16 {
  background-image: url(../img/shapes/shapes00016.png);
}

/* line 418, ../sass/screen.scss */
.cat.f17 {
  background-image: url(../img/shapes/shapes00017.png);
}

/* line 418, ../sass/screen.scss */
.cat.f18 {
  background-image: url(../img/shapes/shapes00018.png);
}

/* line 418, ../sass/screen.scss */
.cat.f19 {
  background-image: url(../img/shapes/shapes00019.png);
}

/* line 418, ../sass/screen.scss */
.cat.f20 {
  background-image: url(../img/shapes/shapes00020.png);
}

/* line 418, ../sass/screen.scss */
.cat.f21 {
  background-image: url(../img/shapes/shapes00021.png);
}

/* line 418, ../sass/screen.scss */
.cat.f22 {
  background-image: url(../img/shapes/shapes00022.png);
}

/* line 418, ../sass/screen.scss */
.cat.f23 {
  background-image: url(../img/shapes/shapes00023.png);
}

/* line 418, ../sass/screen.scss */
.cat.f24 {
  background-image: url(../img/shapes/shapes00024.png);
}

/* line 418, ../sass/screen.scss */
.cat.f25 {
  background-image: url(../img/shapes/shapes00025.png);
}

/* line 418, ../sass/screen.scss */
.cat.f26 {
  background-image: url(../img/shapes/shapes00026.png);
}

/* line 418, ../sass/screen.scss */
.cat.f27 {
  background-image: url(../img/shapes/shapes00027.png);
}

/* line 418, ../sass/screen.scss */
.cat.f28 {
  background-image: url(../img/shapes/shapes00028.png);
}

/* line 418, ../sass/screen.scss */
.cat.f29 {
  background-image: url(../img/shapes/shapes00029.png);
}

/* line 418, ../sass/screen.scss */
.cat.f30 {
  background-image: url(../img/shapes/shapes00030.png);
}

/* line 418, ../sass/screen.scss */
.cat.f31 {
  background-image: url(../img/shapes/shapes00031.png);
}

/* line 418, ../sass/screen.scss */
.cat.f32 {
  background-image: url(../img/shapes/shapes00032.png);
}

/* line 418, ../sass/screen.scss */
.cat.f33 {
  background-image: url(../img/shapes/shapes00033.png);
}

/* line 418, ../sass/screen.scss */
.cat.f34 {
  background-image: url(../img/shapes/shapes00034.png);
}

/* line 418, ../sass/screen.scss */
.cat.f35 {
  background-image: url(../img/shapes/shapes00035.png);
}

/* line 418, ../sass/screen.scss */
.cat.f36 {
  background-image: url(../img/shapes/shapes00036.png);
}

/* line 418, ../sass/screen.scss */
.cat.f37 {
  background-image: url(../img/shapes/shapes00037.png);
}

/* line 418, ../sass/screen.scss */
.cat.f38 {
  background-image: url(../img/shapes/shapes00038.png);
}

/* line 418, ../sass/screen.scss */
.cat.f39 {
  background-image: url(../img/shapes/shapes00039.png);
}

/* line 418, ../sass/screen.scss */
.cat.f40 {
  background-image: url(../img/shapes/shapes00040.png);
}

/* line 418, ../sass/screen.scss */
.cat.f41 {
  background-image: url(../img/shapes/shapes00041.png);
}

/* line 418, ../sass/screen.scss */
.cat.f42 {
  background-image: url(../img/shapes/shapes00042.png);
}

/* line 418, ../sass/screen.scss */
.cat.f43 {
  background-image: url(../img/shapes/shapes00043.png);
}

/* line 428, ../sass/screen.scss */
nav {
  background: #000;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 0;
}

/* line 438, ../sass/screen.scss */
nav a {
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  margin: 15px;
  color: #bbb;
  border: 0;
  text-decoration: none;
}

/* line 448, ../sass/screen.scss */
nav a:hover {
  color: #fff;
}

/* line 452, ../sass/screen.scss */
nav a.selected {
  color: #fff;
  border-bottom: 1px solid white;
}

/* line 457, ../sass/screen.scss */
nav.sticky {
  position: fixed;
  -webkit-transition: top 300ms;
  -o-transition: top 300ms;
  -moz-transition: top 300ms;
  -ms-transition: top 300ms;
  transition: top 300ms;
  -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
  -o-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
  -ms-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
}

/* line 471, ../sass/screen.scss */
nav.stickyHide {
  top: -50px;
}

/* line 475, ../sass/screen.scss */
nav.slideIn {
  top: 0;
}

/* line 480, ../sass/screen.scss */
section:first-child header {
  padding-top: 40px;
}

/* line 485, ../sass/screen.scss */
header {
  min-height: 50vh;
  height: auto;
  background: #00FFBF;
  text-align: center;
  margin-bottom: 80px;
  display: -webkit-flex;
  display: flex;
}
/* line 492, ../sass/screen.scss */
header .PostHeader {
  margin: 35% auto auto;
}
/* line 494, ../sass/screen.scss */
header .PostHeader h2 {
  padding: 0px;
  margin: 15px;
}
/* line 500, ../sass/screen.scss */
header a {
  text-decoration: none;
  color: inherit;
}

/* line 506, ../sass/screen.scss */
header img {
  width: auto;
  height: 80px;
  margin: 0 auto;
  display: block;
}

/* line 513, ../sass/screen.scss */
header h1 {
  font-size: 20px;
  margin: 0 0 10px;
}

/* line 518, ../sass/screen.scss */
header h2 {
  font-family: "GT Sectra Fine", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.2em;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  margin: 0 0 20px;
}

/* line 529, ../sass/screen.scss */
header h1,
header h2 {
  position: relative;
  top: 46%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 540, ../sass/screen.scss */
section article {
  font-family: "GT Sectra Fine", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.6em;
  text-transform: none;
  margin-bottom: 120px;
}

/* line 549, ../sass/screen.scss */
section article p,
section article blockquote {
  font-size: 18px;
  line-height: 1.6em;
  margin: 1em auto;
  width: 80%;
  max-width: 640px;
}

/* line 558, ../sass/screen.scss */
section article blockquote {
  font-style: italic;
  color: #555;
  border-left: 1px solid black;
  padding-left: 20px;
  width: 590px;
  position: relative;
  margin-bottom: 100px;
}

/* line 568, ../sass/screen.scss */
section article blockquote aside {
  position: absolute;
  right: 60px;
  margin-top: 10px;
}

/* line 575, ../sass/screen.scss */
section article h2, section article h3, section article h4 {
  margin: 1em auto;
  width: 640px;
  text-align: center;
  font-weight: 400;
}

/* line 582, ../sass/screen.scss */
section article h2 {
  font-size: 2.5vmin;
  margin: 40px auto 15px;
}

/* line 587, ../sass/screen.scss */
section article h3 {
  font-size: 16px;
  font-style: italic;
  opacity: 0.5;
  font-family: "GT Sectra Fine", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  text-transform: none;
  margin: 5px auto 80px;
}

/* line 596, ../sass/screen.scss */
section article a {
  color: black;
  text-decoration: underline;
}

/* line 601, ../sass/screen.scss */
section article hr {
  width: 640px;
  margin: 80px auto;
  border: 0;
  border-bottom: 1px solid #ddd;
  background: none;
  font-size: 0;
  line-height: 0;
  display: block;
}

/* line 612, ../sass/screen.scss */
section footer p {
  margin: 15px 0 30px;
}

/* line 616, ../sass/screen.scss */
section footer a {
  background: black;
}

/* line 620, ../sass/screen.scss */
footer a {
  text-decoration: none;
}

/* line 624, ../sass/screen.scss */
footer em {
  font-style: normal;
  position: relative;
  top: -1px;
}

/* line 630, ../sass/screen.scss */
section article p a.button {
  background: none;
  color: black;
  border: 1px solid black;
  width: 140px;
  text-align: center;
  display: block;
  margin: 40px auto;
}

/* line 640, ../sass/screen.scss */
section article p a.button:hover {
  background: black;
  color: white;
}

/* line 646, ../sass/screen.scss */
section article p a.button:active {
  background: #555;
  border-color: #555;
  color: white;
}

@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot");
  src: url("../icons/icomoon.eot?#iefix") format("embedded-opentype"), url("../icons/icomoon.woff") format("woff"), url("../icons/icomoon.ttf") format("truetype"), url("../icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 669, ../sass/screen.scss */
.fonticon:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: black;
  padding-right: 0px;
  position: relative;
  font-size: 0.95em;
}

/* line 684, ../sass/screen.scss */
#about a:hover .fonticon:before {
  color: #59F3CD;
}

/* line 688, ../sass/screen.scss */
.icon-cv:before {
  content: "\e000";
  top: 1px;
}

/* line 692, ../sass/screen.scss */
.icon-mail:before {
  content: "\e001";
}

/* line 695, ../sass/screen.scss */
.icon-twitter:before {
  content: "\e002";
}

/* line 699, ../sass/screen.scss */
iframe {
  margin: 0 auto 8vmin;
  display: block;
  width: 85%;
  height: 47.81vw;
}

/* line 707, ../sass/screen.scss */
.browser {
  padding: 35px 1px 1px;
  margin: 40px auto;
  width: 640px;
  height: auto;
  overflow: hidden;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  -webkit-transition: width 800ms, height 800ms, padding 100ms;
  -moz-transition: width 800ms, height 800ms, padding 100ms;
  -o-transition: width 800ms, height 800ms, padding 100ms;
  -ms-transition: width 800ms, height 800ms, padding 100ms;
  transition: width 800ms, height 800ms, padding 100ms;
}

/* line 723, ../sass/screen.scss */
.browser.minied {
  height: 0;
  padding-bottom: 0;
}

/* line 728, ../sass/screen.scss */
.browser.closed {
  display: none;
}

/* line 732, ../sass/screen.scss */
.browser.maxied {
  width: 950px;
  height: auto;
  max-width: 100%;
}

/* line 738, ../sass/screen.scss */
.browser.maxied video {
  height: auto;
  width: 960px;
  max-width: 100%;
}

/* line 744, ../sass/screen.scss */
.browser .title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5px;
  font-size: 14px;
  color: #666;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  transition: opacity 200ms;
  margin: 0;
}

/* line 759, ../sass/screen.scss */
.browser .ui {
  position: absolute;
  top: 7px;
  left: 10px;
  margin: 0;
  padding: 0;
}

/* line 767, ../sass/screen.scss */
.browser .ui li {
  display: inline-block;
  width: 11px;
  height: 11px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

/* line 780, ../sass/screen.scss */
.browser .ui .close {
  background: #FF5011;
}

/* line 784, ../sass/screen.scss */
.browser .ui .close:active {
  background: #CC3300;
}

/* line 788, ../sass/screen.scss */
.browser .ui .min {
  background: #ffc000;
}

/* line 792, ../sass/screen.scss */
.browser .ui li:hover:after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 2px;
  left: 2px;
}

/* line 804, ../sass/screen.scss */
.browser .ui .max {
  background: #4EE949;
}

/* line 808, ../sass/screen.scss */
.browser .ui .max:active {
  background: #3EBA3A;
}

/* line 813, ../sass/screen.scss */
.browser .window {
  position: relative;
  height: auto;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: height 800ms;
  -moz-transition: height 800ms;
  -o-transition: height 800ms;
  -ms-transition: height 800ms;
  transition: height 800ms;
}

/* line 826, ../sass/screen.scss */
.browser img {
  display: block;
}

/* line 830, ../sass/screen.scss */
video {
  position: relative;
  -webkit-transition: height 800ms, width 800ms;
  -moz-transition: height 800ms, width 800ms;
  -o-transition: height 800ms, width 800ms;
  -ms-transition: height 800ms, width 800ms;
  transition: height 800ms, width 800ms;
}

/* line 839, ../sass/screen.scss */
.play {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/play_btn.png) no-repeat center center;
  z-index: 50;
  cursor: pointer;
}

/* line 848, ../sass/screen.scss */
.play.playing {
  background-image: none;
}

/* line 852, ../sass/screen.scss */
.browser video {
  background: #000;
  height: auto;
  width: 640px;
  display: block;
  -webkit-transition: height 800ms, width 800ms;
  -moz-transition: height 800ms, width 800ms;
  -o-transition: height 800ms, width 800ms;
  -ms-transition: height 800ms, width 800ms;
  transition: height 800ms, width 800ms;
}

/* line 864, ../sass/screen.scss */
.browser.maxied .window {
  height: auto;
}

/* line 868, ../sass/screen.scss */
.browser img {
  width: 100%;
  height: auto;
}

/* line 874, ../sass/screen.scss */
footer section {
  position: absolute;
  width: 50%;
  bottom: 0;
  text-align: left;
}

/* line 881, ../sass/screen.scss */
footer section.next {
  right: 0;
  text-align: right;
}

/* line 886, ../sass/screen.scss */
footer section a, footer section span {
  display: block;
  padding: 40px;
  height: 90px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 897, ../sass/screen.scss */
footer section a:hover {
  background: black !important;
  color: white !important;
}

/* line 902, ../sass/screen.scss */
footer section span {
  background: #999;
  color: #fff;
}

/* line 907, ../sass/screen.scss */
footer {
  background: #f3f3f3;
  text-align: center;
  padding: 15px 0 90px;
  position: relative;
}
/* line 913, ../sass/screen.scss */
footer.Work {
  padding: 50px 0 50px;
}

/* line 918, ../sass/screen.scss */
.video_container {
  width: 1024px;
  height: 576px;
  margin: 30px auto;
  position: relative;
  border: 1px solid black;
  -webkit-transition: height 800ms, width 800ms;
  -moz-transition: height 800ms, width 800ms;
  -o-transition: height 800ms, width 800ms;
  -ms-transition: height 800ms, width 800ms;
  transition: height 800ms, width 800ms;
}

/* line 931, ../sass/screen.scss */
.video_container video {
  height: auto;
  width: 1024px;
}

/* line 936, ../sass/screen.scss */
.video_container.iphone {
  width: 320px !important;
  height: 660px !important;
  border: 0;
  background: url(../img/phoneframe.png) top center no-repeat;
  background-size: 320px;
  margin-bottom: 50px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 950, ../sass/screen.scss */
.video_container.iphone video {
  width: 91.5% !important;
  height: auto !important;
  top: 10.8%;
  left: 4.5%;
  border: 1px solid #BCB7B7;
}
/* line 958, ../sass/screen.scss */
.video_container.iphone .play {
  background-image: url(../img/play_btn.png);
}
/* line 962, ../sass/screen.scss */
.video_container.iphone .play.playing {
  background-image: none;
}

/* line 967, ../sass/screen.scss */
.IntroImg {
  text-align: center;
  margin-bottom: 60px;
}
/* line 970, ../sass/screen.scss */
.IntroImg img {
  max-width: 95%;
  width: auto;
  height: auto;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  /* line 980, ../sass/screen.scss */
  header h1, .section h1, .section h2, .section h3, .section p {
    width: auto;
    font-size: 3.15vmin;
    top: 49.5%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  /* line 991, ../sass/screen.scss */
  .section h1, .section h2, .section h3, .section p {
    font-size: 3.15vmin;
  }

  /* line 995, ../sass/screen.scss */
  header .PostHeader {
    margin: auto;
  }

  /* line 999, ../sass/screen.scss */
  header h2 {
    font-size: 2.5vmin;
  }

  /* line 1003, ../sass/screen.scss */
  .cat img {
    top: 38%;
  }

  /* line 1007, ../sass/screen.scss */
  .section.work .position {
    top: 46%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  /* line 1016, ../sass/screen.scss */
  .section.work h1 {
    font-size: 3.15vmin;
  }

  /* line 1020, ../sass/screen.scss */
  .section.work h2 {
    font-size: 2.5vmin;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 1028, ../sass/screen.scss */
  .section h1, .section h2, .section h3, .section p {
    top: 50%;
    font-size: 16px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  /* line 1038, ../sass/screen.scss */
  .cat img {
    top: 90px;
  }

  /* line 1042, ../sass/screen.scss */
  .browser {
    width: 320px;
    height: auto;
  }

  /* line 1047, ../sass/screen.scss */
  .browser .window {
    height: auto;
  }

  /* line 1051, ../sass/screen.scss */
  .browser.maxied {
    width: 480px;
    height: auto;
  }

  /* line 1056, ../sass/screen.scss */
  .browser.maxied .window {
    height: auto;
  }

  /* line 1060, ../sass/screen.scss */
  .browser video {
    height: auto;
    width: 320px;
  }

  /* line 1065, ../sass/screen.scss */
  .browser.maxied video {
    height: auto;
    width: 480px;
  }

  /* line 1070, ../sass/screen.scss */
  .browser .title {
    opacity: 0;
  }

  /* line 1074, ../sass/screen.scss */
  section article h2, section article h3, section article h4 {
    width: 460px;
  }

  /* line 1078, ../sass/screen.scss */
  section article p,
  section article blockquote {
    font-size: 16px;
    width: 80%;
    max-width: 460px;
  }

  /* line 1085, ../sass/screen.scss */
  section article img {
    max-width: 460px;
    height: auto;
  }

  /* line 1090, ../sass/screen.scss */
  section article hr {
    width: 460px;
  }

  /* line 1094, ../sass/screen.scss */
  .video_container {
    width: 480px;
    height: 270px;
  }

  /* line 1099, ../sass/screen.scss */
  .video_container video {
    width: 480px;
    height: auto;
  }
}
/* all iPhone */
@media screen and (max-device-width: 760px), screen and (max-device-width: 320px) {
  /* line 1108, ../sass/screen.scss */
  .cat {
    background-attachment: scroll;
    background-size: contain;
    background-position: 50vw 50%;
    background-repeat: repeat-x;
  }

  /* line 1115, ../sass/screen.scss */
  .cat p,
  .cat h3,
  .cat h2 {
    margin: 0 auto;
    padding: 0 0.5em;
  }

  /* line 1123, ../sass/screen.scss */
  nav {
    position: fixed !important;
    top: 0 !important;
  }

  /* line 1128, ../sass/screen.scss */
  .browser {
    padding: 0;
  }

  /* line 1132, ../sass/screen.scss */
  .browser .ui, .browser .title {
    display: none;
  }

  /* line 1136, ../sass/screen.scss */
  .play {
    display: none !important;
  }

  /* line 1140, ../sass/screen.scss */
  .section .button {
    font-size: 16px;
  }

  /* line 1144, ../sass/screen.scss */
  footer {
    font-size: 56px;
    line-height: 20px;
    text-align: center;
  }

  /* line 1150, ../sass/screen.scss */
  footer em {
    display: none;
  }

  /* line 1154, ../sass/screen.scss */
  .section {
    height: 100%;
  }

  /* line 1158, ../sass/screen.scss */
  .section.work .position {
    top: 40%;
  }

  /* line 1162, ../sass/screen.scss */
  header h1,
  header h2 {
    top: 48%;
  }

  /* line 1167, ../sass/screen.scss */
  footer .button {
    margin: 20px 10px 20px;
  }

  /* line 1171, ../sass/screen.scss */
  .video_container.iphone {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/* iPhone portrait */
@media screen and (max-device-width: 320px) {
  /* line 1180, ../sass/screen.scss */
  .browser, .browser.maxied, .browser.minied {
    width: 300px;
    height: auto;
    padding: 0;
  }

  /* line 1186, ../sass/screen.scss */
  .browser .window {
    width: 300px;
    height: auto;
  }

  /* line 1191, ../sass/screen.scss */
  .browser .window video {
    width: 300px;
    height: auto;
  }

  /* line 1196, ../sass/screen.scss */
  .video_container {
    width: 300px;
    height: 169px;
  }

  /* line 1201, ../sass/screen.scss */
  .video_container video {
    width: 300px;
    height: auto;
  }

  /* line 1206, ../sass/screen.scss */
  section article p, section article h2, section article h3, section article hr, section article blockquote {
    width: 280px;
  }

  /* line 1210, ../sass/screen.scss */
  section article p img {
    max-width: 280px;
  }

  /* line 1214, ../sass/screen.scss */
  section article p,
  section article blockquote {
    font-size: 16px;
  }
}
