---
layout: layout
section: contact
title: Contact
---

<div class="type_section" id="begin">

    {% for page in site.pages %}
      {% if page.category == "contact" %}
        {% capture cat_cycle %}{% cycle '00','01','02','03','04','05','06','07','08' %}{% endcapture %}
      <div class="section">
        <div class="cat f{{ cat_cycle }}">
           {{ page.content }}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  
</div>
<div class="section" id="end">
  <div class="cat end">
    <p>
      OK that's enough fun. <a href="mailto:hi@andrevv.com">Get in touch</a>!
    </p>
  </div>
</div>
