---
layout: layout
section: about
---

<div class="type_section" id="begin">

    {% for page in site.pages %}
      {% if page.category == "intro" %}
        {% capture cat_cycle %}{% cycle '00','01','02','03','04','05','06','07','08','09','10','11','12','13','14' %}{% endcapture %}
      <div class="section">
        <div class="content-main">
          <div class="image-fill">
            <img src="img/kf/kf{{ cat_cycle }}.png" />
          </div>
          <div class="cat f{{ cat_cycle }}">
             {{ page.content }}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  
</div>
<div class="section" id="end">
  <div class="cat end">
    <p>
      OK that's enough fun. Want to have a look at my <a href="{{ site.root }}/work/">work</a>?
    </p>
  </div>
</div>
