---
layout: layout
title: Work
permalink: work/
section: work
---

{% for post in site.categories.work %}

  <section id="{{ post.slug }}" class="post" {% if page.body_bg %}style="background-color: {{ post.body_bg }}"{% endif %}>
  <header style="color: {{ post.color }}; background-color: {{ post.background }}">
    
    <div class="PostHeader">
      <h1><a href="{{ post.id }}">{{ post.title }}</a></h1>
      <h2>
        {{ post.responsibilities }}
      </h2>
    </div>

  </header>
  <article>
    {{ post.content }}
  </article>
  
</section>


<style>
#{{ post.slug }} p a {
  text-decoration: none;
  border-bottom: 1px solid {{ post.background }};
  border-color: {{ post.background }};
}

#{{ post.slug }} p a:hover {
  text-decoration: none;
  border-bottom: 1px solid {{ post.background }};
  background: {{ post.background }};
  color: {{ post.color }};
}
</style>

{% endfor %}

{% include work_footer %}