<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Andrew McCarthy - {% if page.title %}{{ page.title }}{% else %}Creative Developer &amp; Designer, Berlin{% endif %} ✍</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Portfolio of creative developer and designer in Berlin{% endif %}">
    <meta name="revisit-after" content="2 days"/>
    <meta name="author" content="Andrew McCarthy | andrevv.com"/>
    <meta name="keywords" content="Web design, Design, Development, Freelance, Berlin, Frontend, Art"/>
    <link rel="shortcut icon" id="favicon" href="/favicon.ico" >
      
    {% include head %}

    {% if page.section == "work" %}
      <meta property="og:url" content="http://andrevv.com/work/{{ page.slug }}" />
      {% if page.image %}
        <meta property="og:image" content="http://andrevv.com{{ page.image }}" />
      {% else %}
        <meta property="og:image" content="http://andrevv.com{{ site.categories.work.first.image }}" />
      {% endif %}
      <meta property="og:title" content="Andrew McCarthy – {{ page.title }} ✍" />
      <meta property="og:description" content="{{ page.description }}" />
    {% else %}
      <meta property="og:image" content="http://andrevv.com/img/shapes/shapes00008.png" />
      <meta property="og:title" content="Andrew McCarthy" />
      <meta property="og:description" content="Portfolio of creative developer and designer in Berlin" />
    {% endif %}
    
    <meta http-equiv="imagetoolbar" content="no" /> <!--Prevent IEs anoying imgage toolbar-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1693999-7', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
    <style>
      nav .impressum-link {
        position: absolute;
        right: 0;
        color: #666;
      }

      @media only screen and (max-width: 481px) {
        nav {
          text-align: left;
        }
      }
    </style>
  </head>
  <body>

    <nav>
      <a href="{{ site.url }}" {% if page.section == "about" %}class="selected"{% endif %}>About</a>
      <a href="{{ site.root }}/work/" {% if page.section == "work" %}class="selected"{% endif %}>Work</a>
    </nav>
    <div id="content">
      {{ content }}
    </div>
    
  </body>
</html>